footer svg {
    position: fixed;
    bottom:-25em;
    right: 0;
    animation:gary 60s;
    animation-delay: 10s;
    animation-iteration-count:infinite;
    transform:scaleX(-1)
}
@keyframes gary {
    0% {}
    10% { bottom:-10em; }
    30% { bottom:-25em; right:0; transform:scaleX(-1)}
    40% { right:80%; transform:scaleX(1); bottom:-25em; }
    45% { bottom:-10em; transform:rotate(-15deg) }
    50% { right:80%; bottom:-25em; transform: scaleX(1);}
    60% { right:-20em; bottom:-25em; transform:scaleX(-1)}
    70% { right:-20em; bottom:-1.25em; }
    80% { right:120%; bottom:-1.25em; }
    90% { right: 120%; bottom:-25em; }
}
footer {
    max-width:60em;
    margin:auto;
    padding:2em 0;
    text-align:center;
}
