@font-face {
  font-family: 'SpongeBob';
  src: url('fonts/SpongeBob.ttf')  format('truetype');
}
* {margin:0; padding:0; box-sizing: border-box;}
body {
  font-family: 'SpongeBob',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
}
